@font-face {
    font-family: "Domine-bold";
    src: url("../fonts/Domine-Bold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Domine-Bold.eot?#iefix") format("embedded-opentype"), /* IE6–IE8 */
         url("../fonts/Domine-Bold.woff2") format("woff2"), /* Super modern browsers */
         url("../fonts/Domine-Bold.woff") format("woff"), /* Modern browsers */
         url("../fonts/Domine-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
         url("../fonts/Domine-Bold.svg#Domine-Bold") format("svg"); /* Legacy iOS */
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Domine";
    src: url("../fonts/Domine-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Domine-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../fonts/Domine-Regular.woff2") format("woff2"), /* Super modern browsers */
         url("../fonts/Domine-Regular.woff") format("woff"), /* Modern browsers */
         url("../fonts/Domine-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
         url("../fonts/Domine-Regular.svg#Domine") format("svg"); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

*{
  color: white;
  margin: 10px;
}
body {
  background-image: url("../images/background-bees.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  align-items: center;
  font-family: 'Domine', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  display: flex;
  justify-content: center;
  align-content: center;
}

.caption {
	margin-top: -5px;
	font-size: 12px;
	text-align: justify;
}

.link {
    cursor: pointer;
}

.profile-box {
    display: flex;
    flex-direction: column;
    border:  solid 8px white;
    width: 450px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: midnightblue;
    margin: 0;
    padding-top: 10px;
}

h1 {
    font-size: 70px;
    font-family: "Bodoni";
    width: 80%;
    padding: 10px;
    border: white dashed 2px;
    text-align: center;
}

p {
    font-family: anheim;
    max-width: 90%;
    text-align: justify;
}

.profile {
    align-items: center;
    justify-content: center;
    width: 40%;
    height: auto;
    overflow-y: hidden;
    padding: 2%;
    border: dashed 2px white;
    border-radius: 15px;
}

.addcaption {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.caption {
	font-size: 12px;
  height: 400px;
	text-align: justify;
}

.terug-wrapper {
  position: absolute;
  margin: 0;
  height: 58px;
  width: 84px;
  left: 35px;
  top: 35px;
  z-index: 6;
  background: midnightblue;
  border-radius: 10px;
  border: solid white 5px;
}

.terug, .terug-hover {
    position: absolute;
    margin: 0;
    left: 10%;
    top: -35%;
    height: 100px;
    width: 150px;
}

.terug img, .terug-hover img {
    margin: 0;
    height: 100px;
    width: auto;
}

.terug-hover img {
    display: none;
}

.terug-wrapper:hover {
    border: dashed white 5px;

}

.terug-wrapper:hover .terug-hover img,
.terug-wrapper:focus-within .terug-hover img {
    display: block;
}

.terug-wrapper:hover .terug img,
.terug-wrapper:focus-within .terug img {
    display: none;
}

@media (max-width: 768px) {

  .terug-wrapper {
    display: none;
  }


  body {
    background-size: auto;
    background-color: midnightblue;
    background-image: none;
  }

  .profile-box {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    border: none;
  }

  .profile {
    width: 70%;
    height: auto;
    margin: 0 8%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    max-width: 70%;
    border: white dashed 2px;
  }

  p {
    margin: 0 9%;
    width: auto;    
  }
}
